<div class="container">
    <a href="/movies" class="btn btn-light rounded-pill mb-2">Go back</a>
    <div class="row bg-white">
        <div class="col-sm-5 col-md-3 d-flex align-items-center justify-content-center">
            <img src="{{movie.image}}" class="img-thumbnail rounded align-middle">
        </div>
        <div class="col-sm-7 col-md-9">
            <h2>{{movie.title}}</h2>
            <h3>{{movie.director}}</h3>
            <h4>Stars</h4>
            {{#each movie.stars}}
            <li>
                {{this}}
            </li>
            {{/each}}
            <p>{{movie.description}}</p>
            <p>{{movie.showtimes}}</p>
        </div>
    </div>

</div>
